h1 {
  color: #3653a4;
}

.top-bar {
  display: flex;
}

.drawn-numbers {
  flex: 1;
  text-align: center;
}

.buttons {
  margin-right: -5em;
}

.section-header {
  background-color: #788998;
  text-transform: uppercase;
  color: white;
  font-size: 0.7em;
  font-weight: 500;
  padding: 0.5em;
  text-align: center;
}