:root {
  font-family: Verdana, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  padding: 1em;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
}
